html {
	scroll-behavior: smooth;
}

body {
	padding-top: 100px;
}

.logoImage {
	height: 60px;
	width: 60px;
}

.imageContainer img{
    width: 100%;
    max-height: 500px;
}
.aboutContainer,
.contactContainer {
	background-color: #DCDCDC;
}

.container-fluid {
	height: 100%;
	overflow: auto;
}

.aboutContainer h1 {
	font-family: 'Montserrat', cursive;
	color: white;
}

.aboutContainer p {
	font-family: 'Open Sans', sans-serif;
	line-height: 300%;
	color: white;
}

.nav-link,
.nav-item {
	font-family: 'Raleway', sans-serif;
}

.card-text {
	font-family: 'Kalam', cursive;
}

.aboutMe {
	background-color: #343a40;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, .5);
	border-radius: 8px;
}

.card-img-top {
	min-height: 200px;
}

form {
	padding: 10px 20px;
	background-color: #343a40;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, .5);
	height: 600px;
	border-radius: 8px;
}

label {
	color: white;
}

.btn-primary {
	color: black;
	background-color: skyblue;
	border-color: skyblue;
}

iframe {
	width: 100%;
	min-height: 500px;
	border: 0;
}